<mat-card class="header-card">
<mat-card-content>	
	<div class="header-card-logo">
	  <img mat-card-lg-image src="assets/images/logo.png" class="header-logo" style="width: 145px;height: 100px;margin: 6px 25px;">
	 </div>
	 <div>
	 	<table class="header-content">
      			 	<tr>
      			 		<td>
				      		 <mat-form-field class="form-input" color="primary">
				     			 <input matInput placeholder="WI Number" disabled="true" value="NG-000000000000001-CL">
				    		</mat-form-field>
			    		</td>
					<td>	
		   			 <mat-form-field  class="form-input">
		     			 <input matInput  placeholder="CIF ID" disabled="true">
		     		</mat-form-field>
		     		</td>
		     		<td>
		   			 <mat-form-field  class="form-input">
		     			 <input matInput placeholder="Customer Name" disabled="true">
		     		</mat-form-field>
		     		</td>
		     		</tr>
		     		<tr>
		     		<td>
		      		 <mat-form-field  class="form-input">
		     			 <input matInput placeholder="CR No" disabled="true">
		    		</mat-form-field>
					</td><td>
		   			 <mat-form-field  class="form-input">
		     				<input matInput placeholder="Requested Amount" disabled="true">
		     		 </mat-form-field>
		     		</td><td>
		   			 <mat-form-field  class="form-input">
		     			 <input matInput placeholder="Proposal Type" disabled="true">
		     		</mat-form-field>
		     		</td></tr>
		     	</table>
		    </div>
		     </mat-card-content>
	
</mat-card>