<mat-card class="aheader">   
     
      
      <div class="row row-first">
          <div class="col-sm-2 col-lg-2 col-md-2  col-xs-2">
            <div class="header-card-logo">
              <img mat-card-lg-image src="assets/images/logo.png" class="header-logo" style="width: 145px;height: 80px;margin: 2px 25px;">
             </div>
          </div>
         
         <div class="col-sm-10 col-lg-10 col-md-10 col-xs-10 data">
          <div class="row">
          <div class="col-sm-4 col-lg-4 col-md-4  col-xs-4">
            <div class="form-group">
              <mat-form-field class="form-input" color="blue">
                <input matInput placeholder="WI Number" disabled="true" value="NG-000000000000001-CL">
            </mat-form-field>
            </div>
          </div>

          <div class="col-sm-4 col-lg-4 col-md-4  col-xs-4">
              <div class="form-group">
                <mat-form-field  class="form-input">
                  <input matInput  placeholder="CIF ID" disabled="true"  value="0000112">
               </mat-form-field>
              </div>
            </div>
            <div class="col-sm-4 col-lg-4 col-md-4  col-xs-4">
                <div class="form-group">
                  <mat-form-field  class="form-input">
                    <input matInput placeholder="Customer Name" disabled="true">
                 </mat-form-field>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-4 col-lg-4 col-md-4  col-xs-4">
                <div class="form-group">
                  <mat-form-field class="form-input" color="primary">
                    <input matInput placeholder="WI Number" disabled="true" value="NG-000000000000001-CL">
                </mat-form-field>
                </div>
              </div>
    
              <div class="col-sm-4 col-lg-4 col-md-4  col-xs-4">
                  <div class="form-group">
                    <mat-form-field  class="form-input">
                      <input matInput  placeholder="CIF ID" disabled="true">
                   </mat-form-field>
                  </div>
                </div>
                <div class="col-sm-4 col-lg-4 col-md-4  col-xs-4">
                    <div class="form-group">
                      <mat-form-field  class="form-input">
                        <input matInput placeholder="Customer Name" disabled="true">
                     </mat-form-field>
                    </div>
                  </div>
                </div>
          
         </div>
        </div>
   </mat-card>