<br>
<div class="row"> 
      <div class="col-md-3">
		
	<mat-form-field>
    <mat-select placeholder="Current Ratio">
			<mat-option value="select" aria-placeholder="">--Select--</mat-option>
		  <mat-option value="a">equal to or > 1.33</mat-option>
			<mat-option value="a++">1.25 to 1.32</mat-option>
			<mat-option value="b">1.00 to 1.24</mat-option>
			<mat-option value="b+"><1.00</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="col-md-3"> 
				

		<mat-form-field>
    <mat-select placeholder="Profit as % of sales">
			<mat-option value="select" aria-placeholder="">--Select--</mat-option>
      <mat-option value="standard">More than 10.00</mat-option>
			<mat-option value="mentation">5.00 to 10.00</mat-option>
			<mat-option value="sub-standard">2.00 to 5.00</mat-option>
			<mat-option value="doutful"><2.00</mat-option>
    </mat-select>
  </mat-form-field>
</div>
 <div class="col-md-3">
		
	<mat-form-field>
    <mat-select placeholder="Debt Equity Ratio" >
			<mat-option value="select" aria-placeholder="">--Select--</mat-option>
		  <mat-option value="a">equal to or > 1.33</mat-option>
			<mat-option value="a++">1.25 to 1.32</mat-option>
			<mat-option value="b">1.00 to 1.24</mat-option>
			<mat-option value="b+"><1.00</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="col-md-3"> 
			
		<mat-form-field>
    <mat-select placeholder="Current Assets as % of sales (Efficiency of working capital management)">
			<mat-option value="select" aria-placeholder="">--Select--</mat-option>
      <mat-option value="standard">More than 10.00</mat-option>
			<mat-option value="mentation">5.00 to 10.00</mat-option>
			<mat-option value="sub-standard">2.00 to 5.00</mat-option>
			<mat-option value="doutful"><2.00</mat-option>
    </mat-select>
  </mat-form-field>
</div>
</div>
<br>
<div class="row">
 <div class="col-md-3">
	
	<mat-form-field>
    <mat-select placeholder="Sales Growth">
			<mat-option value="select" aria-placeholder="">--Select--</mat-option>
		  <mat-option value="a">More than 20%</mat-option>
			<mat-option value="a++">15 to 20%</mat-option>
			<mat-option value="b">5 to 14.99%</mat-option>
			<mat-option value="b+">less than 5%</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="col-md-3"> 
				

		<mat-form-field>
    <mat-select placeholder="Age of Receivables (efficiency of debt collection)">
			<mat-option value="select" aria-placeholder="">--Select--</mat-option>
      <mat-option value="standard">less than 1 month</mat-option>
			<mat-option value="mentation">1 month to 2 months</mat-option>
			<mat-option value="sub-standard">2 months to 3 months</mat-option>
			<mat-option value="doutful">more than 3 months</mat-option>
    </mat-select>
  </mat-form-field>
</div>
 <div class="col-md-3">
	
	<mat-form-field>
    <mat-select placeholder="Sales target achievement in last two years">
			<mat-option value="select" aria-placeholder="">--Select--</mat-option>
		  <mat-option value="a">100% or more</mat-option>
			<mat-option value="a++">90% to < 100%</mat-option>
			<mat-option value="b">70% to < 90%</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="col-md-3"> 
				
	
		<mat-form-field>
    <mat-select placeholder="Break Even levels (% of utilised capacity)">
			<mat-option value="select" aria-placeholder="">--Select--</mat-option>
      <mat-option value="standard">less thgan 60%</mat-option>
			<mat-option value="mentation">60% to 80%</mat-option>
			<mat-option value="sub-standard">more than 80%</mat-option>
    </mat-select>
  </mat-form-field>
</div>
</div>
<br>
<div class="row">
<div class="col-md-3"> 
				

		<mat-form-field>
    <mat-select placeholder="Profit budget achievement in last two years">
			<mat-option value="select" aria-placeholder="">--Select--</mat-option>
      <mat-option value="standard">100% or more</mat-option>
			<mat-option value="mentation">90% to < 100%</mat-option>
			<mat-option value="sub-standard">70% to < 90%</mat-option>
			<mat-option value="doutful"><70%</mat-option>
    </mat-select>
  </mat-form-field>
</div>
 <div class="col-md-3">

	<mat-form-field>
    <mat-select placeholder="	Diversion of funds">
			<mat-option value="select" aria-placeholder="">--Select--</mat-option>
		  <mat-option value="a">no diversion</mat-option>
			<mat-option value="a++">diversion less than 5% of TNW</mat-option>
			<mat-option value="b">diversion more than 5% of TNW</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="col-md-3"> 
	
		<mat-form-field>
    <mat-select placeholder="	Nature of Profitability">
			<mat-option value="select" aria-placeholder="">--Select--</mat-option>
      <mat-option value="standard">Earned operating and net profits</mat-option>
			<mat-option value="mentation">Earned net profits only</mat-option>
			<mat-option value="sub-standard">Earned operating profits only</mat-option>
      <mat-option value="sub-standard">Net losses</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<br>

</div>

             <button type="button" style=" margin-right:5px;" class="btn btn-primary">Save</button>