<div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="datasource_uploadleads">
  
      <!-- Position Column -->
      <ng-container matColumnDef="first">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element" > {{element.first}} </mat-cell>
      </ng-container>
  
  
      <!-- Name Column -->
      <ng-container matColumnDef="second">
        <mat-header-cell *matHeaderCellDef> Position </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.second}} </mat-cell>
      </ng-container>
  
      Weight Column
      <ng-container matColumnDef="third">
        <mat-header-cell *matHeaderCellDef> Age </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.third}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="fourth">
          <mat-header-cell *matHeaderCellDef> Year of Experience </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.fourth}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="fifth">
            <mat-header-cell *matHeaderCellDef> Qualification </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.fifth}} </mat-cell>
         </ng-container>
  
      
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  
    <mat-paginator #paginator
                   [pageSize]="10"
                   [pageSizeOptions]="[5, 10, 20]"
                   [showFirstLastButtons]="true">
    </mat-paginator>
    <div class="container" style="    float: right;">
      <div class="row" style=" padding:10px;  float: right;">
        <button type="button" style=" margin-right:5px;" class="btn btn-success" (click)="openDialog()" >Add</button>
        <button type="button" style=" margin-right:5px;" class="btn btn-primary">Modify</button>       
        <button type="button" style=" margin-right:5px;" class="btn btn-danger">Delete</button>
  
      </div>
    </div>
   
  
  </div>
  <br/>
  <button type="button"  class="btn btn-primary">Save</button>
  
  <!-- Copyright 2018 Google Inc. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->
  