<mat-expansion-panel  hideToggle="true" class="myexpension" [expanded]="false" #uploadleads>
     <mat-expansion-panel-header>
            <mat-panel-title>
                  <span class="text-span panel-title-icon"><i class="material-icons">addition</i></span>
                           <span class="text-span panel-title" style="align:left;">Risk Rating(Internal)- Financial Prametre </span>
            </mat-panel-title>
      </mat-expansion-panel-header>
       <app-fin-para></app-fin-para>
</mat-expansion-panel>


<mat-expansion-panel  hideToggle="true" class="myexpension" [expanded]="false" #uploadleads1>
     <mat-expansion-panel-header>
            <mat-panel-title>
                  <span class="text-span panel-title-icon"><i class="material-icons">addition</i></span>
                           <span class="text-span panel-title">Risk Rating (Internal) - Financial Trends Risk </span>
            </mat-panel-title>
      </mat-expansion-panel-header>
       <app-fin-trends></app-fin-trends>
</mat-expansion-panel>

<mat-expansion-panel  hideToggle="true" class="myexpension" [expanded]="false" #uploadleads2>
     <mat-expansion-panel-header>
            <mat-panel-title>
                  <span class="text-span panel-title-icon"><i class="material-icons">addition</i></span>
                           <span class="text-span panel-title">Risk Rating (Internal) - Management Risk </span>
            </mat-panel-title>
      </mat-expansion-panel-header>
       <app-management-risk></app-management-risk>
</mat-expansion-panel>

<mat-expansion-panel  hideToggle="true" class="myexpension" [expanded]="false" #uploadleads3>
     <mat-expansion-panel-header>
            <mat-panel-title>
                  <span class="text-span panel-title-icon"><i class="material-icons">addition</i></span>
                           <span class="text-span panel-title">Risk Rating (Internal) - Contigency Risk </span>
            </mat-panel-title>
      </mat-expansion-panel-header>
       <app-contigency-risk></app-contigency-risk>
</mat-expansion-panel>

<mat-expansion-panel  hideToggle="true" class="myexpension" [expanded]="false" #uploadleads4>
     <mat-expansion-panel-header>
            <mat-panel-title>
                  <span class="text-span panel-title-icon"><i class="material-icons">addition</i></span>
                           <span class="text-span panel-title">Risk Rating (Internal) - Operational Risk </span>
            </mat-panel-title>
      </mat-expansion-panel-header>
       <app-operational-risk></app-operational-risk>
</mat-expansion-panel>

<mat-expansion-panel  hideToggle="true" class="myexpension" [expanded]="false" #uploadleads5>
     <mat-expansion-panel-header>
            <mat-panel-title>
                  <span class="text-span panel-title-icon"><i class="material-icons">addition</i></span>
                           <span class="text-span panel-title">Risk Rating (Internal) - Industry Risk </span>
            </mat-panel-title>
      </mat-expansion-panel-header>
       <app-industry-risk></app-industry-risk>
</mat-expansion-panel>

<mat-expansion-panel  hideToggle="true" class="myexpension" [expanded]="false" #uploadleads6>
     <mat-expansion-panel-header>
            <mat-panel-title>
                  <span class="text-span panel-title-icon"><i class="material-icons">addition</i></span>
                           <span class="text-span panel-title">Risk Rating (Internal) - Score Summary </span>
            </mat-panel-title>
      </mat-expansion-panel-header>
       <app-score-summary></app-score-summary>
</mat-expansion-panel>


