 <div>
        <label>Repayment Terms</label>
      </div>
        <br>

        <ckeditor [config]="{uiColor: ' linear-gradient(154deg, rgb(0, 143, 226) 0px, rgb(0, 178, 156) 100%);'}"  [readonly]="false" ></ckeditor>
        <br>  <br>
        <div>
          <label>1st Source Of Repayment</label>
        </div>
          <br>
  
          <ckeditor [config]="{uiColor: ' linear-gradient(154deg, rgb(0, 143, 226) 0px, rgb(0, 178, 156) 100%);'}"  [readonly]="false" ></ckeditor>
          <br>  <br>
          <div>
            <label>2nd Source Of Repayment</label>
          </div>
            <br>
    
            <ckeditor [config]="{uiColor: ' linear-gradient(154deg, rgb(0, 143, 226) 0px, rgb(0, 178, 156) 100%);'}"  [readonly]="false" ></ckeditor>
            <br>  <br>
        <div>
          <label>3rd Source Of Repayment</label>
        </div>
          <br>

          <ckeditor [config]="{uiColor: ' linear-gradient(154deg, rgb(0, 143, 226) 0px, rgb(0, 178, 156) 100%);'}"  [readonly]="false" ></ckeditor>
          <br>
    <!-- <button type="button" class="btn btn-primary">Spell Check</button> -->
    <button type="button" class="btn btn-primary">Save</button>