<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        New / Existing Facilities and Project Specific Facilities(Amount in '000')
      </mat-panel-title>
     
    </mat-expansion-panel-header>
    <app-new-exist-facility></app-new-exist-facility>
    <app-addtnl-facility></app-addtnl-facility>
    <app-projectfacility></app-projectfacility>
  </mat-expansion-panel>
  <mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Facility Wise Risk Rating
        </mat-panel-title>
   
  </mat-expansion-panel-header>
  <app-facility-rating></app-facility-rating>

</mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Fee Detail
      </mat-panel-title>
      </mat-expansion-panel-header>
      <app-feedetail></app-feedetail>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Repayment Terms
      </mat-panel-title>
      </mat-expansion-panel-header>
      <app-repayment-terms></app-repayment-terms>

  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Pricing
      </mat-panel-title>
     
    </mat-expansion-panel-header>
    <app-pricing></app-pricing>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Loan Ammortization
      </mat-panel-title>
     
    </mat-expansion-panel-header>
    <app-loan-amm></app-loan-amm>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Terms and Conditions
      </mat-panel-title>
     
    </mat-expansion-panel-header>
    <term-condn></term-condn> 
   </mat-expansion-panel>  
</mat-accordion>
