<br>
<div class="row"> 
      <div class="col-md-3">

	<mat-form-field>
    <mat-select placeholder="Availability of Collateral cover">
			<mat-option value="select" aria-placeholder="">--Select--</mat-option>
		  <mat-option value="a">more than 100%</mat-option>
			<mat-option value="a++">80% to 100%</mat-option>
			<mat-option value="b">60% to79%</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="col-md-3"> 
				
	
		<mat-form-field>
    <mat-select placeholder="Repayment of Interest and Principal">
			<mat-option value="select" aria-placeholder="">--Select--</mat-option>
      <mat-option value="standard">Always met</mat-option>
			<mat-option value="mentation">Some delays</mat-option>
      <mat-option value="mentation">Always delayed</mat-option>
    </mat-select>
  </mat-form-field>
</div>
 <div class="col-md-3">

	<mat-form-field>
    <mat-select placeholder="Delay in execution of security documents">
			<mat-option value="select" aria-placeholder="">--Select--</mat-option>
		  <mat-option value="a">Always in time</mat-option>
			<mat-option value="a++">Some delays</mat-option>
      	<mat-option value="a++">Normally delayed</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="col-md-3"> 
				
	
		<mat-form-field>
    <mat-select placeholder="Submission of Information">
			<mat-option value="select" aria-placeholder="">--Select--</mat-option>
      <mat-option value="standard">Always met</mat-option>
			<mat-option value="mentation">Some delays</mat-option>
      <mat-option value="mentation">Always delayed</mat-option>
    </mat-select>
  </mat-form-field>
</div>
</div>

<div class="row"> 
      <div class="col-md-3">

	<mat-form-field>
    <mat-select placeholder="Utilisation of sactioned limits">
			<mat-option value="select" aria-placeholder="">--Select--</mat-option>
		  <mat-option value="a">85% or more</mat-option>
			<mat-option value="a++">60% to 79%</mat-option>
			<mat-option value="b">less than 60%</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="col-md-3"> 
				
	
		<mat-form-field>
    <mat-select placeholder="Compliance of conditions">
			<mat-option value="select" aria-placeholder="">--Select--</mat-option>
      <mat-option value="standard">Always met</mat-option>
			<mat-option value="mentation">Some delays</mat-option>
      <mat-option value="mentation">Always delayed</mat-option>
    </mat-select>
  </mat-form-field>
</div>
 <div class="col-md-3">

	<mat-form-field>
    <mat-select placeholder="Overdrawings">
			<mat-option value="select" aria-placeholder="">--Select--</mat-option>
		  <mat-option value="a">No overdrawings</mat-option>
			<mat-option value="a++">Ocassional overdrawing</mat-option>
      <mat-option value="a++">Regularly overdrawing</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="col-md-3"> 
				
	
		<mat-form-field>
    <mat-select placeholder="Renewal of Proposals">
			<mat-option value="select" aria-placeholder="">--Select--</mat-option>
      <mat-option value="standard">Submitted in time</mat-option>
			<mat-option value="mentation">Some delays</mat-option>
      <mat-option value="mentation">Always delayed</mat-option>
    </mat-select>
  </mat-form-field>
</div>
</div>

<div class="row"> 
      <div class="col-md-3">

	<mat-form-field>
    <mat-select placeholder="Non fund based commitments">
			<mat-option value="select" aria-placeholder="">--Select--</mat-option>
		  <mat-option value="a">Always met</mat-option>
			<mat-option value="a++">Some delays</mat-option>
			<mat-option value="b">Always delayed</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="col-md-3"> 
				

		<mat-form-field>
    <mat-select placeholder="	Conduct of account with other banks">
			<mat-option value="select" aria-placeholder="">--Select--</mat-option>
      <mat-option value="standard">good</mat-option>
			<mat-option value="mentation">satisfactory</mat-option>
      <mat-option value="mentation">non satisfactory</mat-option>
    </mat-select>
  </mat-form-field>
</div>
</div>
<div class="save-button">
      <button type="button" style=" margin-right:5px;" class="btn btn-primary">Save</button>
</div>