<br>
<div class="row"> 
      <div class="col-md-3">
	
	<mat-form-field>
    <mat-select placeholder="Debt Equity Ratio">
			<mat-option value="select" aria-placeholder="">--Select--</mat-option>
		  <mat-option value="a">better than previous 2 years average</mat-option>
			<mat-option value="a++">equal to previous 2 years average</mat-option>
			<mat-option value="b">less than previous 2 years average</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="col-md-3"> 
				

		<mat-form-field>
    <mat-select placeholder="Profitability">
			<mat-option value="select" aria-placeholder="">--Select--</mat-option>
      <mat-option value="standard">better than previous 2 years average</mat-option>
			<mat-option value="mentation">equal to previous 2 years average</mat-option>
			<mat-option value="sub-standard">less than previous 2 years average</mat-option>
    </mat-select>
  </mat-form-field>
</div>
 <div class="col-md-3">
		
	<mat-form-field>
    <mat-select placeholder="Current Ratio">
			<mat-option value="select" aria-placeholder="">--Select--</mat-option>
		  <mat-option value="a">better than previous 2 years averag</mat-option>
			<mat-option value="a++">equal to previous 2 years average</mat-option>
			<mat-option value="b">less than previous 2 years average</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="col-md-3"> 
				

		<mat-form-field>
    <mat-select placeholder="Sales growth ratio">
			<mat-option value="select" aria-placeholder="">--Select--</mat-option>
      <mat-option value="standard">better than previous 2 years averag</mat-option>
			<mat-option value="mentation">equal to previous 2 years average</mat-option>
			<mat-option value="sub-standard">less than previous 2 years average</mat-option>
    </mat-select>
  </mat-form-field>
</div>
</div>
<div class="save-button">
     <button type="button" style=" margin-right:5px;" class="btn btn-primary">Save</button>
</div>
