<mat-card style="background-color: transparent;padding:0px;">
  <mat-card-content >
        <mat-tab-group class="demo-tab-group">
<mat-tab label="Risk Rating">
   <mat-accordion class="example-headers-align myaccordion">

              <mat-expansion-panel  hideToggle="true" class="myexpension" [expanded]="false" #uploadleads>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                            <span class="text-span panel-title-icon"><i class="material-icons">texture</i></span>
                                <span class="text-span panel-title">Risk Rating (External) </span>
                        </mat-panel-title>
                       
                      </mat-expansion-panel-header>
                          <br/>
                           

                      <app-risk-rating></app-risk-rating>
                  </mat-expansion-panel>
                  <mat-expansion-panel  hideToggle="true" class="myexpension"  [expanded]="false" #proposal>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                          <span class="text-span panel-title-icon"><i class="material-icons">texture</i></span>
                            <span class="text-span panel-title">Risk Rating (Internal)</span>
                    </mat-panel-title>
                    <mat-panel-description>
                            <span class="text-span panel-description"></span>
                           

                    </mat-panel-description>

                  </mat-expansion-panel-header>
                      <br/>
                        <app-risk-rating-internal></app-risk-rating-internal> 
                      
                       <!-- <app-fin-trends></app-fin-trends>
                        <app-management-risk></app-management-risk>
                        <app-contigency-risk></app-contigency-risk>
                        <app-operational-risk></app-operational-risk>
                        <app-industry-risk></app-industry-risk>
                        <app-score-summary></app-score-summary>-->
                </mat-expansion-panel>

                <mat-expansion-panel  hideToggle="true" class="myexpension"  [expanded]="false" #AddressDetails>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                        <span class="text-span panel-title-icon"><i class="material-icons">texture</i></span>
                          <span class="text-span panel-title">IFRS Check List</span>
                  </mat-panel-title>
                  <mat-panel-description>
                          <span class="text-span panel-description"></span>
                         

                  </mat-panel-description>

                </mat-expansion-panel-header>
                    <br/>

                    <app-risk-rating-ifrs></app-risk-rating-ifrs>



                </mat-expansion-panel>



            </mat-accordion>




</mat-tab>
<mat-tab label="Risk Analysis">

</mat-tab>
<mat-tab label="Assessment of SOL/Prudential Limit">
<app-assessment-sql-limit></app-assessment-sql-limit>

</mat-tab>

</mat-tab-group>
</mat-card-content>
</mat-card>