
<mat-accordion>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        External Agency
            </mat-panel-title>
     
    </mat-expansion-panel-header>
    <app-external-agency></app-external-agency>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Give names of other Banks and Our share of the bussiness(%)  
      </mat-panel-title>
     
    </mat-expansion-panel-header>
    <app-other-bank-data></app-other-bank-data>        
  </mat-expansion-panel>  
</mat-accordion>

 