<div class="form">
<div class="row">
<div class="col-md-3">
	<mat-form-field class="example-full-width">
		<input matInput placeholder="Favorite food">
	  </mat-form-field>
</div>
<div class="col-md-3"> 
	  <mat-form-field class="example-full-width">
		<input matInput placeholder="Favorite food">
	  </mat-form-field>
</div>
<div class="col-md-3">
	  <mat-form-field class="example-full-width">
		<input matInput placeholder="Favorite food">
	  </mat-form-field>
	</div>
	<div class="col-md-3">
	  <mat-form-field class="example-full-width">
		<input matInput placeholder="Favorite food">
	  </mat-form-field>
	</div>

</div>


</div>




								
				    		<!-- </td>
						<td>
			   			 <mat-form-field  class="form-input">
								 <input matInput placeholder="Favorite food">
								 </mat-form-field>
			     		</td>
			     		<td>
			   			 <mat-form-field  class="form-input">
								 <input matInput placeholder="Favorite food">
 								</mat-form-field>
						 </td>
						 <td>
			   			 <mat-form-field  class="form-input">
								 <input matInput placeholder="Favorite food">
 								</mat-form-field>
			     		</td>
			     		</tr>
						</table> -->
