<div class="row"> 
      <div class="col-md-3">

	<mat-form-field>
    <mat-select placeholder="Foreign Exchange Risk">
			<mat-option value="select" aria-placeholder="">--Select--</mat-option>
		  <mat-option value="a">Net FE earner No ECB</mat-option>
			<mat-option value="a++">Net FE outflow No ECB</mat-option>
			<mat-option value="b">Net FE outflow with ECB</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="col-md-3"> 
				
	
		<mat-form-field>
    <mat-select placeholder="Contigent liabilty (on account of taxes/duties)">
			<mat-option value="select" aria-placeholder="">--Select--</mat-option>
      <mat-option value="standard">upto 10% of TNW</mat-option>
			<mat-option value="mentation">more than 10% of TNW</mat-option>
    </mat-select>
  </mat-form-field>
</div>
 <div class="col-md-3">

	<mat-form-field>
    <mat-select placeholder="Guarantees given on behalf of Company or group">
			<mat-option value="select" aria-placeholder="">--Select--</mat-option>
		  <mat-option value="a">upto 20% of TNW</mat-option>
			<mat-option value="a++">more than 20% of TNW</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="col-md-3"> 
				
	
		<mat-form-field>
    <mat-select placeholder="Investment in Group Companies">
			<mat-option value="select" aria-placeholder="">--Select--</mat-option>
      <mat-option value="standard">upto 10% of TNW</mat-option>
			<mat-option value="mentation">more than 10% of TNW</mat-option>
    </mat-select>
  </mat-form-field>
</div>
</div>
<div class="row"> 
      <div class="col-md-3">
	
	<mat-form-field>
    <mat-select placeholder="Contigent liabilty in notes to accounts">
			<mat-option value="select" aria-placeholder="">--Select--</mat-option>
		  <mat-option value="a">upto 10% of TNW</mat-option>
			<mat-option value="a++">more than 10% of TNW</mat-option>
    </mat-select>
  </mat-form-field>
</div>
</div>
<div class="save-button">
      <button type="button" style=" margin-right:5px;" class="btn btn-primary">Save</button>
</div>