<mat-accordion class="example-headers-align">
    <mat-expansion-panel  >
      <mat-expansion-panel-header>
        <mat-panel-title>
         Securities (Value)
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class=" mat-elevation-z8">
           <div class="row">
              <div class="col-sm-4">
                  <mat-form-field class="example-full-width">
                      <input matInput placeholder="Value of Assets Being Financed" >
                    </mat-form-field>
              </div> 
              <div class="col-sm-4">
                  <mat-form-field class="example-full-width">
                      <input matInput placeholder="Mortgage Being Financed (Property)" >
                    </mat-form-field>
              </div> 
              <div class="col-sm-4">
                  <mat-form-field class="example-full-width">
                      <input matInput placeholder="Assignment Value (Contract)" >
                    </mat-form-field>
              </div> 
           </div>
           <div class="row">
              <div class="col-sm-4">
                  <mat-form-field class="example-full-width">
                      <input matInput placeholder="Personal Guarantee Value (Guarantee)" >
                    </mat-form-field> 
              </div> 
              <div class="col-sm-4">
                  <mat-form-field class="example-full-width">
                      <input matInput placeholder="Net worth Statement" >
                    </mat-form-field>
              </div> 
              <div class="col-sm-4">
                  <mat-form-field class="example-full-width">
                      <input matInput placeholder="Other Tangible Security" >
                    </mat-form-field>
              </div> 
           </div>
           <div class="row">
              <div class="col-sm-6">
                  <mat-form-field class="example-full-width">
                      <input matInput placeholder="Total Security for Capital Asset Financing" >
                    </mat-form-field> 
              </div> 
              <div class="col-sm-6">
                  <mat-form-field class="example-full-width">
                      <input matInput placeholder="Total Security for  Real Estate" >
                    </mat-form-field>
              </div> 
               
           </div>
           <div class="row">
              <div class="col-sm-6">
                  <mat-form-field class="example-full-width">
                      <input matInput placeholder="Total Security for Contract Financing" >
                    </mat-form-field> 
              </div> 
              <div class="col-sm-6">
                  <mat-form-field class="example-full-width">
                      <input matInput placeholder="Total Security for Receivable Financing" >
                    </mat-form-field>
              </div> 
               
           </div>
           
                
                
                
             
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  