<br>
<div class="row"> 
      <div class="col-md-3">
	
	<mat-form-field>
    <mat-select placeholder="Promoters background">
			<mat-option value="select" aria-placeholder="">--Select--</mat-option>
		  <mat-option value="a">Reputed group with good track record</mat-option>
			<mat-option value="a++">professionals with good track record</mat-option>
			<mat-option value="b">not well known</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="col-md-3"> 
				
	
		<mat-form-field>
    <mat-select placeholder="Capital Market perception">
			<mat-option value="select" aria-placeholder="">--Select--</mat-option>
      <mat-option value="standard">Listed on stock exchanges</mat-option>
			<mat-option value="mentation">Not listed but group has ability to raise funds</mat-option>
			<mat-option value="sub-standard">Others</mat-option>
    </mat-select>
  </mat-form-field>
</div>
 <div class="col-md-3">
	
	<mat-form-field>
    <mat-select placeholder="Management">
			<mat-option value="select" aria-placeholder="">--Select--</mat-option>
		  <mat-option value="a">Professionals in key areas</mat-option>
			<mat-option value="a++">Family Owned</mat-option>
			<mat-option value="b">No organised structure of management</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="col-md-3"> 
				

		<mat-form-field>
    <mat-select placeholder="Track Record of Debt Repayment">
			<mat-option value="select" aria-placeholder="">--Select--</mat-option>
      <mat-option value="standard">Regular</mat-option>
			<mat-option value="mentation">Some delays</mat-option>
			<mat-option value="sub-standard">Default</mat-option>
    </mat-select>
  </mat-form-field>
</div>
</div>
<br>
<div class="row"> 
      <div class="col-md-3">
	
	<mat-form-field>
    <mat-select placeholder="Track Record of Execution">
			<mat-option value="select" aria-placeholder="">--Select--</mat-option>
		  <mat-option value="a">Always in time</mat-option>
			<mat-option value="a++">Some delays</mat-option>
			<mat-option value="b">Poor</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="col-md-3"> 
				

		<mat-form-field>
    <mat-select placeholder="Modernisation / Technology Upgradation">
			<mat-option value="select" aria-placeholder="">--Select--</mat-option>
      <mat-option value="standard">Undertake Regularly</mat-option>
			<mat-option value="mentation">Undertaken occasionally</mat-option>
			<mat-option value="sub-standard">Others</mat-option>
    </mat-select>
  </mat-form-field>
</div>
</div>
<div class="save-button">
     <button type="button" style=" margin-right:5px;" class="btn btn-primary">Save</button>
</div>